Source: ~#PKGNAME#~
Maintainer: tecnickcom <info@tecnick.com>
Section: utils
Priority: optional
Build-Depends: debhelper-compat (= 13), dh-golang
Standards-Version: 4.7.2
Homepage: https://github.com/tecnickcom/rpistat
Vcs-Git: https://github.com/tecnickcom/rpistat.git
Vcs-Browser: https://github.com/tecnickcom/rpistat

Package: ~#PKGNAME#~
Provides: rpistat
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Web-Service to collect system usage statistics
 rpistat : Web-Service to collect system usage statistics
