openapi: 3.0.4
info:
  title: rpistat
  description: Monitoring API
  contact:
    email: info@tecnick.com
  license:
    name: Internal use only. All rights reserved.
    url: https://github.com/tecnickcom/rpistat/blob/main/LICENSE
  version: 3.0.0
servers:
  - url: https://rpistat:65501/
security:
  - {}
tags:
  - name: index
    description: Service index
  - name: ping
    description: Ping this service
  - name: status
    description: Check this service health status
  - name: metrics
    description: Returns Prometheus metrics
  - name: pprof
    description: Returns pprof data
  - name: stats
    description: Returns system usage statistics
paths:
  /:
    get:
      tags:
        - index
      summary: Provides a summary of the service and available endpoints
      responses:
        '200':
          description: The service is reachable
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/response'
                  - type: object
                    properties:
                      data:
                        type: object
                        description: content
                        properties:
                          duration:
                            type: number
                            description: service uptime in seconds
                          routes:
                            type: array
                            items:
                              type: object
  /ping:
    get:
      tags:
        - ping
      summary: Check if the service is reachable
      responses:
        '200':
          description: The service is reachable
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/response'
                  - type: object
                    properties:
                      data:
                        type: string
                        description: OK
  /status:
    get:
      tags:
        - status
      summary: Returns the health status of this service
      responses:
        '200':
          description: The service is healthy
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/response'
                  - type: object
                    properties:
                      data:
                        type: object
                        description: content
        '503':
          description: One or more internal systems are not available
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/response'
                  - type: object
                    properties:
                      data:
                        type: object
                        description: content
  /metrics:
    get:
      tags:
        - metrics
      summary: Returns Prometheus metrics
      responses:
        '200':
          description: Prometheus metrics
  /pprof/:
    get:
      tags:
        - pprof
      summary: Returns pprof profiling data
      responses:
        '200':
          description: pprof profiling data
  /ip:
    get:
      tags:
        - status
      summary: Returns the public IP address of this service instance
      responses:
        '200':
          description: IP address of this service instance
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/response'
                  - type: object
                    properties:
                      data:
                        type: string
                        description: Public IP address
        '424':
          description: Unable to connect to the ipify service
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/response'
                  - type: object
                    properties:
                      data:
                        type: string
                        description: Error
  /stats:
    get:
      tags:
        - stats
      summary: Returns system usage statistics
      responses:
        '200':
          description: System usage statistics
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/stats'
components:
  schemas:
    response:
      type: object
      properties:
        program:
          type: string
          description: program name (i.e. rpistat)
        version:
          type: string
          description: service version number (e.g. "1.2.3")
        release:
          type: string
          description: service release number (e.g. "13")
        datetime:
          type: string
          description: readable date-time (RFC3339)
        timestamp:
          type: integer
          description: timestamp in nanoseconds
        status:
          type: string
          description: http status code description
        code:
          type: integer
          description: http status code
        message:
          type: string
          description: response message
    stats:
      type: object
      properties:
        datetime:
          type: string
          description: >-
            DateTime is the human-readable date and time when the response is
            sent.
        timestamp:
          type: integer
          description: >-
            Timestamp is the machine-readable UTC timestamp in nanoseconds since
            EPOCH.
        hostname:
          type: string
          description: Hostname name of the host.
        uptime:
          type: integer
          description: Uptime time since last system boot.
        memory_total:
          type: integer
          description: Total Memory in bytes.
        memory_free:
          type: integer
          description: Total free memory in bytes.
        memory_used:
          type: integer
          description: Total memory used in bytes.
        memory_usage:
          type: number
          description: Total memory used in percentage
        load_1m:
          type: number
          description: Load is the 1 minute load average.
        load_5m:
          type: number
          description: Load is the 5 minute load average.
        load_15m:
          type: number
          description: Load is the 15 minute load average.
        temperature_cpu:
          type: number
          description: CPU Temperature in Celsius Degrees.
        disk_total:
          type: integer
          description: Total Disk size in bytes.
        disk_free:
          type: integer
          description: Total free disk space in bytes.
        disk_used:
          type: integer
          description: Total disk used in bytes.
        disk_usage:
          type: number
          description: Total disk used in percentage
        network:
          type: array
          items:
            type: object
            description: >-
              Network contains an array of network statistics, one entry for
              each physical interface.
            properties:
              nic:
                type: string
                description: NIC name.
              rx:
                type: integer
                description: Received bytes.
              tx:
                type: integer
                description: Transmitted bytes.
