[Unit]
Description=Web service to collect system usage statistics

Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/rpistat
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
