Web-Service to collext Raspberry PI 4 system usage statistics.

The statistics are exposed both via the ```/stats``` API endpoint.

An example HomeAssistant sensor and template to scrape those metrics can be found in the ```resources/HomeAssistant/``` directory.
